 <!DOCTYPE html>
<html>
<body>

<h1>aws-by-example</h1>

<p>Illustrates AWS behaviour using simple, deployable examples.</p>
<p>Source: <a href="https://github.com/cosmo-grant/aws-by-example">https://cosmo-grant.github.io/aws-by-example</a></p>
<p>Examples:</p>
<ul>
{% for filepath, display_name in files %}
  <li><a href="{{filepath}}">{{display_name}}</a></li>
{% endfor %}
</ul>

</body>
</html>

